[build-system]
requires = ["setuptools>=45", "wheel", "setuptools_scm>=6.2"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "express/_version.py"

[tool.coverage.run]
source = ['.']
omit = ['env*/*', 'venv*/*', 'tests/*']
