fixtures/espresso/* filter=lfs diff=lfs merge=lfs -text
fixtures/vasp/* filter=lfs diff=lfs merge=lfs -text
fixtures/espresso/** filter=lfs diff=lfs merge=lfs -text
fixtures/vasp/** filter=lfs diff=lfs merge=lfs -text
fixtures/data.py filter=lfs diff=lfs merge=lfs -text
fixtures/pyML/test-001/*.JSON filter=lfs diff=lfs merge=lfs -text
